.container {
	@media screen and (min-width: 600px) {
		margin-right: 1rem;
		margin-left: 1rem;
	}

	@media screen and (min-width: 800px) {
		margin-right: 4rem;
		margin-left: 4rem;
	}

	@media screen and (min-width: 1200px) {
		margin-right: 16rem;
		margin-left: 16rem;
	}
}
